/* Variables - color
 * ========================================================================== */

 /* base */
:root {
  --color-primary: #014F7E;
  --color-black: #000;
  --color-white: #fff;
}

/* background */
:root {
  --color-background-base: var(--color-black);
}
