/* Variables - color
 * ========================================================================== */

:root {
  /* base */
  --color-primary: #014F7E;
  --color-black: #000;
  --color-white: #fff;
}
