:root {
  --font-family-base: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-family-number: 'Asap Condensed', sans-serif;
  --font-family-alphabet: 'Montserrat', sans-serif;
}
